server:
  forward-headers-strategy: native

spring:
  application:
    name: matchmyduo
  profiles:
    active: dev
    include: secret
  datasource:
    hikari:
      auto-commit: false
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  default-produces-media-type: application/json

logging:
  level:
    org.hibernate.orm.jdbc.bind: WARN
    org.hibernate.orm.jdbc.extract: WARN
    org.springframework.transaction.interceptor: INFO
    com.matchmyduo: INFO

custom:
  jwt:
    expireSeconds: "#{30 * 60}"
    secretPattern: ${JWT_SECRET}

riot:
  api:
    base-url: ${RIOT_API_BASE_URL:https://asia.api.riotgames.com}
    key: ${RIOT_API_KEY:}