spring:
  datasource:
    url: jdbc:mysql://localhost:3306/${DB_NAME}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      auto-commit: false
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: bjw7099@gmail.com
    password: srzwfeatyyvnisgd
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

custom:
  cookie:
    secure: false
    sameSite: Lax
    path: /